.projects {
    display: flex;
    flex-direction: column;
    margin-block: 10vh;
}

.projectx {
    border: 1px solid;
    width: fit-content;
    padding: 40px 80px;
    margin-block: 20px;
    width: 50vh;
    height: 30vh;
    transition:all 1s;
    opacity: 0;
    transform: translateX(-30px);
}
.projectx.show{
    opacity: 1;
    transform: translateX(0);
}

.f {
    margin-top: 100px;

}

.showbtn {
    color: white;
    border: 1px solid;
    padding: 5px 8px;
    border-radius: 2px;
    min-width: 65px;
}

.prodesc{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 90vh;
    opacity: 0;
    transition: all .8s;
    height: 30vh;
    transform: translateX(100px);
}
.prodesc.show{
    opacity: 1;
    transform: translateX(0);
}

.full {
    display: flex;
    align-items: center;
    gap: 10vh;
}


.showbtn:hover {
    color: black;
    background-color: white;
}

#project1:hover{

    box-shadow: inset 0 0 0 1000px rgba(0,0,0,.6);
}
#project2:hover{
    box-shadow: inset 0 0 0 1000px rgba(0,0,0,.6);
}

#project1 {
    background-image: url(https://media.istockphoto.com/photos/delicious-meal-on-a-black-plate-top-view-copy-space-picture-id1165399909?k=20&m=1165399909&s=170667a&w=0&h=l3D08kaYzaoy51NnoV6cTQ1bqwhi6ACHv0G_rkFrA5Y=);
}
#project2{
    background-image: url(https://images.sftcdn.net/images/t_app-cover-l,f_auto/p/9b57653a-96d0-11e6-8952-00163ec9f5fa/670128898/spotify-spotify-uwp.jpg) !important;
    
  }

/* #prodesc1{
    height: 150px;
    width: 1px;
    opacity: 0;
    transition: all .75s ease;
  }
  
  #prodesc1.show {
    opacity: 1;
    height: 150px;
    width: 500px;
  } */

 




.cardcss{
    opacity: 0;
    transition: all .8s;
    transform: translateX(150px);
}
.cardcss.show{
    opacity: 1;
    transform: translateX(0px);
}

.projectbg{
    background: linear-gradient(-45deg, #48343a,#222222,#0b0404, #010126);
    background-size: 400% 400%;
    animation: gradient 15s ease infinite;
}

.descSub{
    width: 100%;
    height: 100%;
    top:0;
    opacity: 0;
    transition: all 1s;
    position: absolute;
    padding: 10%;
  }
  .projectButton{
    border-radius: 10px;
   }

@keyframes gradient {
    0% {
        background-position: 0% 50%;
    }
    50% {
        background-position: 100% 50%;
    }
    100% {
        background-position: 0% 50%;
    }
}

@media (max-width: 500px){
    .ProjectsAlignment{
        display: flex;
        flex-direction: column;
        justify-content: space-evenly;
        height: 80%;
    }
    .projectName{
        font-size: large;
    }
    .projectDescription{
        font-size: larger;
    }
    .projectStack{
        font-size: larger;
        margin-top: 10px ;
    }
    .descSub{
        padding: 6%;
    }
    .projectButton{
        border-radius: 5px;
        padding-inline: 10px;
    }
    .projectButtonText{
        font-size: larger;
        border-radius: 2px;
        padding-inline: 5px;
    }
    .projectButtonIcon{
        width: 15px;
        padding-inline-end: 5px;
    }
  
}