.cons {
    margin-top: 20vh;
    text-align: center;
}

.content {
    display: flex;
    margin: 5vh;
}

.inbox {}

.suggest {
    display: flex;
    flex-direction: column;
    gap: 2vh;
    align-items: flex-start;
}

.line {
    border: 1px solid;
    height: 50vh;
    opacity: 0.1;
    margin-top: 5vh;
    margin-inline: 20vh;
}

.mail {
    display: flex;
    flex-direction: column;
    align-items: center;
    
}

.box {
    border-radius: 4px;
}

.mailcon {
    opacity: .7;
    padding-block: 40px;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
}

.email {
    text-decoration: none;
    color: inherit;
}

.email:hover {
    opacity: .4;
    color: inherit;
    cursor: pointer;
}
.linever{
    border: 1px solid;
    width: 35vh;
    opacity: 0.1;
    
}

#copy{
    font-size: smaller;
    opacity: .8;
    margin-top: 10px;
}

@media only screen and (max-width:768px) {
    .suggest{
        display: none;
    }
    .line{
        display: none;
    }
    .mail{
        margin-top: 20px;
        align-items: center;
    }
}