.projects {
    display: flex;
    flex-direction: column;
}

.project {
    border: 1px solid;
    width: fit-content;
    padding: 40px 80px;
    margin-block: 20px;
    width: 50vh;
    height: 30vh;
}

.f {
    margin-top: 100px;
}

.showbtn {
    color: white;
    border: 1px solid;
    padding: 5px 8px;
    border-radius: 2px;
    min-width: 65px;
}

.prodesc{
    width: 90vh;
    opacity: 0;
    transition: all .5s ease-in;
    height: 30vh;
}

.full {
    display: flex;
    align-items: center;
    gap: 10vh;
}


.showbtn:hover {
    color: black;
    background-color: white;

}

#project1 {
    background-image: url(https://media.istockphoto.com/photos/delicious-meal-on-a-black-plate-top-view-copy-space-picture-id1165399909?k=20&m=1165399909&s=170667a&w=0&h=l3D08kaYzaoy51NnoV6cTQ1bqwhi6ACHv0G_rkFrA5Y=);
}
#project2{
    background-image: url(https://images.sftcdn.net/images/t_app-cover-l,f_auto/p/9b57653a-96d0-11e6-8952-00163ec9f5fa/670128898/spotify-spotify-uwp.jpg) !important;
    
  }

/* #prodesc1{
    height: 150px;
    width: 1px;
    opacity: 0;
    transition: all .75s ease;
  }
  
  #prodesc1.show {
    opacity: 1;
    height: 150px;
    width: 500px;
  } */

 


@media only screen and (max-width: 780px) {
    .project {
        width: 40vh;
        height: fit-content;
        min-height: 25vh;
        border: 1px solid;
        padding: 10px;
        transition: all 2s ease;justify-content: space-between;

    }


    .prodesc{
        display: none;
    }

    .btns{
        display: flex;
        gap:2vh;
        margin-left: 0vh;
        margin-top: 0vh;
        
    }
    .pbtn{
        border: 1px solid;
        color: white;
        font-size: small;
        padding:2px 5px;
    }
    .pbtn:hover{
        background-color: white;
        color: black;
    }
    #project12{
        background-color: #121212;
        height: 25vh;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
    }

    .project p{
        font-size: small;
    }

    
}
