@keyframes fadeIn {
    0% { opacity: 0; margin-block: 100px;}
    100% { opacity: 1;}
  }


  @media only screen and (max-width: 780px){
    .adjustnav{
        background-color: #fff !important;
      }
    
  }





.me-auto{
    gap:10px;
}
